.footer {
  /* background: #223645; */
  background: #262626;
  color: white;
}

.useful-links {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 10px;

  padding: 0;
}

.useful-links li {
  list-style: none;
  transition: all 0.4s ease;
  cursor: pointer;
}
.useful-links li a {
  transition: 0.3s;
}
.useful-links li a:hover {
  color: #0094ca;
}

.useful-links li a {
  text-decoration: none;
  color: rgb(211, 210, 210);
}

.useful-links li:hover {
  color: white;
  padding-left: 5px;
}

.circle-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  outline: 2px solid rgb(202, 202, 202);
  outline-offset: 5px;
  transition: 0.4s;
}
.post-item {
  transition: 0.4s;
}

.post-item:hover .circle-img {
  outline-color: #04afef;
}

.post-item h6 {
  transition: 0.4s;
}
.post-item:hover h6 {
  color: #04afef;
}

.footerGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 8px;
}

.up-icon {
  position: relative;
  bottom: 40px;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  border-radius: 100%;
  background: #04afef;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.up-icon:hover {
  background: #0094ca;
}

.gallery-img {
  cursor: pointer;
  transition: 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}
