.hotel-item {
  height: 280px;
  overflow: hidden;
  position: relative;
}

.hotel-item img {
  height: 100%;
  width: 100%;
  transform: translateX(50%);
  z-index: -1;
  transition: 0.5s;
}
.hotel-img:hover {
  transform: translateX(0);
}
.hotel-img:hover .hotel-item.hotel-text-div {
  left: -40% !important;
}
.hotel-item .hotel-text-div {
  transform: skewX(-10deg);
  background: rgb(255, 255, 255);
  padding: 40px;
  width: 60%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 280px;
  overflow: hidden;
}
.hotel-item .hotel-text {
  transform: skewX(10deg);
  height: 280px;
}

.hotel-img-text {
  bottom: 0;
  position: absolute;
  right: 20px;
  overflow: hidden;
}

.star-icon {
  color: goldenrod;
}

.hotel-text .hotel-text-title {
  font-size: 16px;
  font-weight: 700;
}

.hotel-text p {
  font-size: 14px;
  font-weight: 600;
}

.hotel-img-text {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.hotel-book-btn {
  border: none;
  transition: 0.4s;
  background: #e2aa03;
  color: white;
  padding: 5px 15px;
  font-weight: 600;
  position: absolute;
  right: -30px;
  bottom: 50px;
}
.hotel-book-btn:hover {
  background: #080d11;
  color: #ffc107;
}
